<h1>Add a client to the stylist</h1>

<form action="/clients/<%= @stylist %>" method="post">
	<div class="form-group">
		<label for="client_name">Please add client name</label>
		<input for="client_name" name="client_name">
	</div>
	<button type ="submit" class="btn btn-siccess">Submit</button>
</form>