<h1>Success</h1>

<h1>The client:</h1>

<h3>'<%= @client.client_name() %>'</h3>

<h1>has been added</h1>

<div class="container">
	<a href="/lists/<%= @stylist.id() %>"><button class="button btn">Return to the <%= @stylist.stylist_name() %></a>
</div>