<h1>Add new Stylist</h1>

<form action="/stylists" method"post>
	<div class="form-group">
		<label got="stylist_name">Enter stylist name:</label>
		<input id="stylist_name" name="stylist_name" type="text">
	</div>

	<button type="submit" class="btn-success">Add Stylist</button>
</form>