<h1>Add a new Stylist:</h1>

<form action="/stylists" method="post">

	<div class="form-group">
		<label for="stylist_name">Please enter stylist name:</label>
		<input id="stylist_name" name="stylist_name" type="test">
	</div>

	<button type="submit" class="btn-success">Add List</button>
</form>